.app{
display: grid;


place-content:start;

padding: 20px;
min-width: 350px;
width: 100vw;
height: 100%;
background-color: rgb(38, 38, 39);


}

@media  screen and (min-width:500px){


    .app{
width: 61vw;
height: 100vh;
    }


}














.container_data{
display: flex;
flex-wrap: wrap;

}


.top_button{
padding: 10px;
background-color: rgb(16, 12, 37);
color: white;
font: 16px;
border-radius: 10px;
width: 90vw;
}







.poput{

color: white;
background-color: rgb(14, 94, 185);
font-size: 16px;
padding: 10px;
border-radius: 10px;
}

.poput:hover{

cursor: pointer;


}



.containerSpiner{
width:90vw;


display: flex;
justify-content: center;
align-items: center;




}



@media screen and (min-width:500px){
    
.containerSpiner{
    width: 58vw;



}


.top_button{


width: 58vw;

}



}














.spinner{

border-radius: 50%;

border:4px solid blue;
border-left: 4px solid transparent;
width: 200px;
height: 200px;
animation: spin 2s  linear infinite;

}


@keyframes  spin {
0%{

transform: rotate(0deg);
    


}


100%{

transform: rotate(360deg);


}


    
}

